---
layout: example.11ty.cjs
title: <<%= props.elementName %>> ⌲ Examples ⌲ <%= propertyName %> Property
tags: example
name: <%= propertyName %> Property
description: Setting the <%=propertyName %> property
---

<<%= props.elementName %> <%=propertyName %>="<%= propertyValue %>"></<%= props.elementName %>>

<h3>HTML</h3>

```html
<<%= props.elementName %> <%=propertyName%>="<%= propertyValue %>"></<%= props.elementName %>>
```
